/* Контейнер */
.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include media-min(768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @include media-min(1200px) {
    max-width: 1200px;
    padding: 0 16px;
  }
}

.button {
  display: block;
  border: none;
  border-radius: 22px;
  padding: 0;
  font-family: var(--fontFamaly-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  cursor: pointer;
  height: 44px;

  &_hero-products {
    width: 107px;
    height: 40px;
    border-radius: 20px;

    font-size: 14px;
    line-height: 1.29;

    color: var(--colorText-secondary);
    background-color: var(--colorText-primary);
  }
  &_hero-about {
    width: 138px;
    height: 40px;
    border-radius: 20px;

    font-size: 14px;
    line-height: 1.29;

    color: var(--colorText-primary);
    background-color: var(--colorText-secondary);

    &:hover {
      background-color: var(--bgc-btnHover);
    }
  }
  &_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;

    color: var(--colorText-primary);
    background-color: var(--colorText-secondary);

    &::after {
      content: '';
      display: block;
      width: 6px;
      height: 10px;
      margin-left: 12px;

      background-image: url(../images/icons/Vector1.svg);
    }

    &:hover {
      background-color: var(--bgc-btnHover);
    }
  }
  &_about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;

    color: var(--colorText-primary);
    background-color: var(--colorText-secondary);

    &::after {
      content: '';
      display: block;
      width: 6px;
      height: 10px;
      margin-left: 14px;

      background-image: url(../images/icons/Vector1.svg);
    }

    &:hover {
      background-color: var(--bgc-btnHover);
    }
  }
  &_contacts-locations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;

    color: var(--colorText-secondary);
    background-color: var(--colorText-primary);

    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 10px;
      margin-left: 13px;

      background-image: url(../images/icons/Vectorwhite.svg);
    }
  }

  &_contacts-franchise {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;

    color: var(--colorText-primary);
    background-color: var(--colorText-secondary);

    &::after {
      content: '';
      display: block;
      width: 6px;
      height: 10px;
      margin-left: 14px;

      background-image: url(../images/icons/Vector1.svg);
    }

    &:hover {
      background-color: var(--bgc-btnHover);
      width: 180px;
    }
  }
}
