/* Контейнер */
.container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @include media-min (768px) {
        max-width: 768px;
        padding: 0 32px;
    }

    @include media-min (1200px) {
        max-width: 1200px;
        padding: 0 16px;
    }
}

.button {
    display: block;
    border: none;
    border-radius: 22px;
    font-family: var(--fontFamaly-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    cursor: pointer;
}


