.about-section {
  background-image: url(../images/about/bcg-about-desktop@1x.png);
  background-size: contain;
  background-origin: padding-box;
  background-position: center bottom 70px;
  background-repeat: no-repeat;
  background-color: var(--bgc-primary);
}

.about-container {
  padding: 60px 20px 40px;
}

.about-section__lable {
  font-family: var(--fontFamaly-primary);
  text-align: center;
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--colorText-third);
  margin-bottom: 16px;
}

.about-section__title {
  font-family: var(--fontFamaly-primary);
  font-size: 58px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--colorText-primary);
  margin-bottom: 150px;
}

.about-content {
  display: flex;
}

.about-picture {
  margin-right: 99px;
  margin-top: -90px;
}

.about-text {
  width: 463px;
}

.about-text__pre-info {
  font-family: var(--fontFamaly-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: var(--colorText-other);
  margin-bottom: 32px;
}

.about-text__info {
  font-family: var(--fontFamaly-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.92;
  letter-spacing: 0.04em;
  color: var(--colorText-accent);
  margin-bottom: 40px;
}

.about-button {
  width: 176px;
  height: 44px;
  left: 616px;
  top: 2349px;
  background: var(--colorText-secondary);
  border: transparent;
  border-radius: 22px;
  font-family: var(--fontFamaly-secondary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--colorText-primary);
}
