@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

:root {
  --colorText-primary: rgba(212, 20, 67, 1);
  --colorText-secondary: rgba(255, 255, 255, 1);
  --colorText-third: rgba(255, 165, 186, 1);
  --colorText-other: rgba(0, 0, 0, 1);
  --colorText-accent: rgba(144, 126, 130, 1);
  --colorText-reviews: rgba(144, 126, 130, 1);
  --color-icon: rgba(254, 165, 187, 1);
  --bgc-primary: rgba(255, 245, 246, 1);
  --bgc-secondary: rgba(255, 184, 202, 1);
  --bgc-modal: rgba(225, 121, 146, 1);
  --bgc-btnHover: rgba(236, 235, 235, 1);
  --fontFamaly-primary: Titan One, cursive;
  --fontFamaly-secondary: DM Sans, sans-serif;
}

.hero-header {
  width: 100%;
  height: 664px;
  background-color: #FFB8CA;
}

.hero-header__cont {
  position: relative;
  height: 664px;
}

.hero {
  padding-top: 63px;
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.hero__title {
  width: 277px;
  margin-bottom: 24px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 38px;
  line-height: 1.157;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__title--big {
  font-size: 58px;
  line-height: 90.5%;
  color: #D41443;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item:last-child {
  margin-left: 12px;
}

.hero__link {
  height: 40px;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 23px;
  border-radius: 20px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__link--red {
  background-color: #D41443;
  color: #FFFFFF;
}

.hero__link--red:hover, .hero__link--red:focus {
  background-color: #d41444bb;
}

.hero__link--white {
  background-color: #ffffff;
  color: #D41443;
}

.hero__link--white:hover, .hero__link--white:focus {
  background-color: #ECEBEB;
}

.hero__item--numbers {
  position: relative;
}

.hero__item--numbers:not(:last-child) {
  margin-bottom: 15px;
}

.hero__item--numbers::after {
  content: "";
  position: absolute;
  top: -6;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.hero__text--numbers {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.152;
  position: relative;
  z-index: 1;
  width: 93px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 2px;
}

.hero__text--pre, .hero__text--sub {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
}

.hero__text--pre {
  display: block;
  text-align: center;
}

.hero-thumb__milk {
  position: absolute;
  left: 15px;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-thumb__decription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero-thumb__text {
  font-family: 'DM Sans';
  font-weight: 400;
  width: 200px;
  height: 78px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero-thumb__btn {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  bottom: 33px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-thumb__btn {
  width: 26px;
  height: 26px;
}

.svg {
  z-index: 6;
  position: absolute;
}

.hero-thumb__girl {
  position: absolute;
  right: 15px;
  bottom: 0;
  z-index: 2;
}

.hero-thumb__ice {
  width: 534px;
  height: 534px;
  background: #FFA5BA;
  border-radius: 50%;
  position: absolute;
  top: 54px;
  right: 189px;
}

.hero__ice {
  position: absolute;
  top: 54px;
  left: 119px;
}

.hero-thumb__btn {
  width: 26px;
  height: 26px;
}

.arrow-img {
  min-width: 26px;
}
/*# sourceMappingURL=index.css.map */