:root {
  --colorText-primary: #d41443;
  --colorText-secondary: #ffffff;
  --colorText-third: #ffa5ba;
  --colorText-other: #000000;
  --colorText-accent: #907e82;
  --color-icon:  #FEA5BB;;
  --bgc-primary: #FFF5F6;
  --bgc-secondary: #ffb8ca;
  --bgc-modal: #E17992;
  --bgc-btnHover: #ECEBEB;
  --bgc-other: #F0D1A5;
  --bgc-accent: #C2E297;

  --fontFamaly-primary: 'Titan One', cursive;
  --fontFamaly-secondary: 'DM Sans', sans-serif;
}