<!--advantages styles-->
<section class="advantages">
  <ul class="advantages-list container">
    <li class="advantages__item">
      <picture>
        <source
          srcset="
            ../images/advantages/icon1.png    1x,
            ../images/advantages/icon1@2x.png 2x
          "
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/icon1.webp    1x,
            ../images/advantages/icon1@2x.webp 2x
          "
          type="image/webp"
        />
        <img class="item-icon" src="../images/advantages/icon1.png" alt="" />
      </picture>
      <p class="advantages__title">721</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <picture>
        <source
          srcset="
            ../images/advantages/apples-svgrepo.png    1x,
            ../images/advantages/apples-svgrepo@2x.png 2x
          "
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/apples-svgrepo.webp    1x,
            ../images/advantages/apples-svgrepo@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          class="item-icon"
          src="../images/advantages/apples-svgrepo.png"
          alt=""
        />
      </picture>
      <p class="advantages__title">16kg</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <picture>
        <source
          srcset="
            ../images/advantages/heart.png    1x,
            ../images/advantages/heart@2x.png 2x
          "
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/heart.webp    1x,
            ../images/advantages/heart@2x.webp 2x
          "
          type="image/webp"
        />
        <img class="item-icon" src="../images/advantages/heart.png" alt="" />
      </picture>
      <p class="advantages__title">84</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
