<!--advantages styles-->
<section class="advantages">
  <ul class="advantages-list container">
    <li class="advantages__item">
      <picture>
        <source
          srcset="
            ../images/advantages/icon1.png    1x,
            ../images/advantages/icon1@2x.png 2x
          "
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/icon1.webp    1x,
            ../images/advantages/icon1@2x.webp 2x
          "
          type="image/webp"
        />
        <img class="item-icon" src="../images/advantages/icon1.png" alt="" />
      </picture>
      <picture>
        <source
          srcset="
            ../images/advantages/721mob.png   1x,
            ../images/advantage/721mob@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/721mob.webp   1x,
            ../images/advantage/721mob@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/721tab.png   1x,
            ../images/advantage/721tab@2x.png 2x
          "
          media="(max-width: 1199px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/721tab.webp   1x,
            ../images/advantage/721tab@2x.webp 2x
          "
          media="(max-width: 1199px)"
          type="image/webp"
        />
        <source
          srcset="
            ../images/advantages/721.png   1x,
            ../images/advantage/721@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/721.webp   1x,
            ../images/advantage/721@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <img class="item-image" src="../images/advantages/721.png" alt="" />
      </picture>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <picture>
        <source
          srcset="
            ../images/advantages/apples-svgrepo.png    1x,
            ../images/advantages/apples-svgrepo@2x.png 2x
          "
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/apples-svgrepo.webp    1x,
            ../images/advantages/apples-svgrepo@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          class="item-icon"
          src="../images/advantages/apples-svgrepo.png"
          alt=""
        />
      </picture>
      <picture>
        <source
          srcset="
            ../images/advantages/16kgmob.png    1x,
            ../images/advantages/16kgmob@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/16kgmob.webp    1x,
            ../images/advantages/16kgmob@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/16kgtab.png    1x,
            ../images/advantages/16kgtab@2x.png 2x
          "
          media="(max-width: 1199px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/16kgtab.webp    1x,
            ../images/advantages/16kgtab@2x.webp 2x
          "
          media="(max-width: 1199px)"
          type="image/webp"
        />
        <source
          srcset="
            ../images/advantages/16kg.png    1x,
            ../images/advantages/16kg@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/16kg.webp    1x,
            ../images/advantages/16kg@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <img class="item-image" src="../images/advantages/16kg.png" alt="" />
      </picture>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <picture>
        <source
          srcset="
            ../images/advantages/heart.png    1x,
            ../images/advantages/heart@2x.png 2x
          "
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/heart.webp    1x,
            ../images/advantages/heart@2x.webp 2x
          "
          type="image/webp"
        />
        <img class="item-icon" src="../images/advantages/heart.png" alt="" />
      </picture>
      <picture>
        <source
          srcset="
            ../images/advantages/84mob.png    1x,
            ../images/advantages/84mob@2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/84mob.webp    1x,
            ../images/advantages/84mob@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ../images/advantages/84tab.png    1x,
            ../images/advantages/84tab@2x.png 2x
          "
          media="(max-width: 1199px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/84tab.webp    1x,
            ../images/advantages/84tab@2x.webp 2x
          "
          media="(max-width: 1199px)"
          type="image/webp"
        />
        <source
          srcset="
            ../images/advantages/84.png    1x,
            ../images/advantages/84@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ../images/advantages/84.webp    1x,
            ../images/advantages/84@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <img class="item-image" src="../images/advantages/84.png" alt="" />
      </picture>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
