<!--Contacts-section-->
<section class="contacts-section">
    <h2 id="" class="contacts-section__title">Contacts</h2>
    <ul class="contacts-list">
        <li class="contacts-card">
            <p class="contacts-card__category">Cafe</p>
            <h3 class="contacts-card__city">Chicago</h3>
            <p class="contacts-card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="contacts-card__schedule">
                <li class="contacts-card__work-hours">
                    <p class="contacts-card__days">Monday - Friday</p>
                    <time class="contacts-card__time">06:00 AM - 10:00 PM</time>
                </li>
                <li class="contacts-card__work-hours">
                    <p class="contacts-card__days">Saturday - Sunday</p>
                    <time class="contacts-card__time">08:00 AM - 16:00 PM</time>
                </li>
            </ul>
            <ul>
                <li><a href="tel:+610383766284" class="cotacts-card__link">+61(0) 383 766 284 </a></li>
                <li><a href="mailto:noreply@envato.com" class="cotacts-card__link">noreply@envato.com</a></li>
            </ul>
                      
        </li>
        <li>
            <p class="contacts-card__category">Food truck</p>
            <h3 class="contacts-card__city">Los Angeles</h3>
            <p class="contacts-card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="contacts-card__schedule">
                <li class="contacts-card__work-hours">
                    <p class="contacts-card__days">Monday - Friday</p>
                    <time class="contacts-card__time">06:00 AM - 10:00 PM</time>
                </li>
                <li class="contacts-card__work-hours">
                    <p class="contacts-card__days">Saturday - Sunday</p>
                    <time class="contacts-card__time">08:00 AM - 16:00 PM</time>
                </li>
            </ul>
            <ul>
                <li><a href="tel:+610383766284" class="cotacts-card__link">+61(0) 383 766 284 </a></li>
                <li><a href="mailto:noreply@envato.com" class="cotacts-card__link">noreply@envato.com</a></li>
            </ul>
            
        </li>
        <li>
            <p class="contacts-card__category">Cafe</p>
            <h3 class="contacts-card__city">New York</h3>
            <p class="contacts-card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="contacts-card__schedule">
                <li class="contacts-card__work-hours">
                    <p class="contacts-card__days">Monday - Friday</p>
                    <time class="contacts-card__time">06:00 AM - 10:00 PM</time>
                </li>
                <li class="contacts-card__work-hours">
                    <p class="contacts-card__days">Saturday - Sunday</p>
                    <time class="contacts-card__time">08:00 AM - 16:00 PM</time>
                </li>
            </ul>
            <ul>
                <li><a href="tel:+610383766284" class="cotacts-card__link">+61(0) 383 766 284 </a></li>
                <li><a href="mailto:noreply@envato.com" class="cotacts-card__link">noreply@envato.com</a></li>
            </ul>
            
        </li>
    </ul>
    <button type="button">Our Locations</button>
    <button type="button">Franchise</button>
</section>