<section class="section gallery-section">
    <div class="container gallery-container">
        <h2 class="section-title section-title--is-hiden">Our products</h2>
        <ul>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
        </ul>
    </div>

</section>