<section class="section gallery-section">
    <div class="container gallery-container">
        <h2 class="section-title section-title--is-hiden">Our products</h2>
        <ul>
            <li>
                <picture>
                        <source srcset="./images/gallery/gallery-img1-mobile@1x.webp 1x, ./images/gallery/gallery-img1-mobile@2x.webp 2x" media="(max-width: 767px)" 
                            type="image/webp">
                        <source srcset="./images/gallery/gallery-img1-mobile@1x.jpg 1x, ./images/gallery/gallery-img1-mobile@2x.jpg 2x" media="(max-width: 767px)"
                            type="image/jpg">
                        <source srcset="./images/gallery/gallery-img1-tablet@1x.jpg 1x, ./images/gallery/gallery-img1-tablet@2x.jpg 2x" media="(min-width: 768px)"
                            type="image/jpg">
                        <source srcset="./images/gallery/gallery-img1-desktop@1x.jpg 1x, ./images/gallery/gallery-img1-desktop@1x.jpg 2x" media="(min-width: 1200px)"
                            type="image/jpg">
                    <img src="./images/gallery/gallery-img1-desktop@1x.jpg" alt="Зелене морозиво на паличці">
                </picture>
            </li>
            <!-- <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </li> -->
        </ul>
    </div>

</section>