.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.about-section {
  background-image: url(../images/about/bcg-about-desktop@1x.png);
  background-size: contain;
  background-origin: padding-box;
  background-position: center bottom 70px;
  background-repeat: no-repeat;
  background-color: var(--bgc-primary);
}

.about-container {
  padding: 60px 20px;

  @media screen and (min-width: 768px) {
    padding: 60px 32px;
  }

  @media screen and (min-width: 1200px) {
    padding: 60px 16px;
  }
}

.about-section__lable {
  font-family: var(--fontFamaly-primary);
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--colorText-third);
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.about-section__title {
  font-family: var(--fontFamaly-primary);
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--colorText-primary);
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    margin-bottom: 60px;
  }
}

.about-content {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about-picture {
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 99px;
  }
}

.about-text {
  margin-top: 40px;
  width: 220px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
    width: 334px;
  }

  @media screen and (min-width: 1200px) {
    width: 463px;
    margin-top: 90px;
    margin-left: 99px;
  }
}

.about-text__pre-info {
  font-family: var(--fontFamaly-secondary);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--colorText-other);
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }
}

.about-text__info {
  font-family: var(--fontFamaly-secondary);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--colorText-accent);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.92;
    letter-spacing: 0.04em;
  }
}

.about-button {
  width: 176px;
  height: 44px;
  left: 20px;
  top: 3432px;
  background: var(--colorText-secondary);
  border: transparent;
  border-radius: 22px;
  font-family: var(--fontFamaly-secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--colorText-primary);

  @media screen and (min-width: 768px) {
    left: 400px;
    top: 1785px;
    font-size: 16px;
    line-height: 1.31;
  }

  @media screen and (min-width: 1200px) {
    left: 616px;
    top: 2349px;
  }
}

.about-button:after {
  content: '>';
  width: 6px;
  height: 8px;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 16px;
  border: 2px;
  text-transform: uppercase;
}
