//advantages styles
.advantages {
background-color: var(--bgc-primary);
&__list{
display: block;
@include media-min ($min-width: 768px) {
display: flex;
}
}
&__item {
display: block;
padding-bottom: 32px;
}
&__text {
font-family: var(--fontFamaly-secondary);
font-weight: 700;
font-size: 12px;
line-height: 1.7;
@include media-min-max ($min-width: 768px, $max-width: 1199px) {
 font-size: 14px;  
 line-height: 1.74; 
}
@include media-min ($min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
}
}
}
.item-icon {
padding-bottom: 16px;  
@include media-min-max ($min-width: 768px, $max-width: 1199px) {
padding-bottom: 36px;    
}  
@include media-min ($min-width: 1200px) {
padding-bottom: 40px;
}
}