
.contacts-section {
    padding-bottom: 40px;
    font-family: var(--fontFamaly-secondary);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;    
    
    color: var(--colorText-other);
    background-image: linear-gradient(to bottom, var(--colorText-secondary) 22%, var(--bgc-primary) 22%);

    &__button {
        margin: 0 auto;
        width: 161px;
        color: var(--colorText-secondary);
        background-color: var(--colorText-primary);
        transform: scale(1);
        transition: background-color var(--default-transition),
        transform var(--default-transition);

        &:hover,
        &:focus {
            background-color: var(--bgc-btnHoverAccent);
            transform: scale(1.1);
        }

        &--light {
            color: var(--colorText-primary);
            background-color: var(--colorText-secondary);
            transform: scale(1);
            transition: background-color var(--default-transition),
            transform var(--default-transition);

            &:hover,
            &:focus {
                background-color: var(--bgc-btnHover);
                transform: scale(1.1);
            }
        }
        
       
        &:not(:last-of-type) {
            margin-bottom: 10px;  
         }
    }
}

.contacts-list {
    margin-bottom: 32px;
}

.contacts-card {

    padding: 40px 32px;
    border-radius: 24px;
    background-color: var(--colorText-secondary);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    
    &:not(:last-of-type) {
       margin-bottom: 20px;  
    }

        &__category {
           display: inline-block;
           text-transform: uppercase;
           text-align: center;
           letter-spacing: 0.64px;
           line-height: 1.4;
           color: var(--colorText-secondary);
           background-color: var(--bgc-other);
           height: 16px;

           padding: 0 25px;
           border-radius: 4px;

           margin-bottom: 20px;

              &--green-wide {
                  background-color: var(--bgc-accent);
                  padding: 0 28px;
           }

    }
     
     &__caption {
        margin-bottom: 24px;
        }
   

    &__city {
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: 0,04em;
        margin-bottom: 8px;
    }

    &__description {
        line-height: 1,5;
        color: var(--colorText-accent);
    }

    &__schedule {
        padding: 24px 0;
        border-top: 2px solid var(--border-decorative);
        border-bottom: 2px solid var(--border-decorative);
        margin-bottom: 24px;
    }

    &__work-hours:not(:last-of-type) {
        margin-bottom: 8px;
    }

    &__time {
        color: var(--colorText-third);
    }

    &__link {
        line-height: 1,5;
        color: var(--colorText-accent);
        transition: color var(--default-transition);

         &:hover,
         &:focus {
             color: var(--colorText-primary);
         }
    }
}