.button-thumb {
    padding: 5px;
    @include media-min (768px) {
        margin-right: 32px;
    }
    
    @include media-min (1200px) {
        display: none;
    }
}

.button-menu {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &__thumb-icon{
        fill: var(--colorText-primary);
        width: 100%;
        height: 100%;

        .button-menu:hover &,
        .button-menu:focus &{
            fill: var(--colorText-third);
        }
    }
    // &__icon{
    //     // []
    // }
    
    @include media-min (1200px) {
        display: none;
    }

}