/* Хедер */
.header-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: transparent;
    &__thumb {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media-min-max (768px, 1200px) {
            flex-grow: 1;
        }
    }
    &__outer-margin {
        @include media-max (1200px) {
            padding: 8px 0 8px 0;
        }
        @include media-min (1200px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }  
}

.menu-thumb { 
    display: flex;
}